---
import Layout from "../layouts/Layout.astro";
import PauseIcon from "@/icons/Pause.astro";
import PlayIcon from "@/icons/Play.astro";
import TimeIcon from "@/icons/Time.astro";
import PlaylistItemCard from "@/components/PlaylistItemCard.astro";
import { playlists } from "@/lib/data";
import SuggestsForToday from "@/components/SuggestsForToday.astro";
---

<Layout title="Spotify Clone">
  <div id="playlist-container" class="relative transition-all duration-1000">
    <!--Page header -->
    <div class="relative flex-col flex-1 min-h-[400px]: flex">
      <!-- TOP NAV BAR -->
      <nav
        id="navbar"
        class="sticky top-0 z-10 px-6 flex w-full justify-between min-h-[45px]"
      >
        <div class="flex gap-4 items-center">
          <span
            class="text-light-weak rounded-lg bg-slate-50/5 w-4 h-4 items-center flex justify-center"
            >{"<"}</span
          >
          <span
            class="text-light-weak rounded-lg bg-slate-50/5 w-4 h-4 items-center flex justify-center"
            >{">"}</span
          >
        </div>
        <div class="flex gap-3 items-center">
          <div class="flex flex-row gap-4 items-center justify-center">
            <span class="text-light-weak h-6 text-center align-middle"
              >Jalomo</span
            >
            <div class="w-6 h-6">
              <picture class="aspect-square flex-none">
                <img
                  src="https://avatars.githubusercontent.com/u/44355453?v=4"
                  class="object-cover w-full h-full rounded-full"
                />
              </picture>
            </div>
          </div>
        </div>
      </nav>
      <main class="relative px-6 py-12">
        <!--Greetings -->
        <h3 class="text-3xl font-medium h-16">Buenas tardes</h3>
        <div class="grid grid-cols-3 grid-rows-3 gap-4">
          {
            playlists.map((playlist) => (
              <PlaylistItemCard playlist={playlist} />
            ))
          }
        </div>
        <!-- Suggests for today -->
        <SuggestsForToday />
      </main>
    </div>
  </div>
</Layout>
<script lang="ts">
  // Detectar el scroll y cambiar el fondo de la barra de navegación
  const container = document.getElementById("playlist-container");

  // Print the actual scroll value of container
  container.addEventListener("scroll", () => {
    console.log(container.scrollTop);
  });
</script>
<style></style>
